<mat-toolbar color="primary">
  <span routerLink="/"> This is Rakesh's Angular Chat App </span>
  <ng-container
    *ngIf="user.currentUserProfile$ | async as user; else logInButton"
  >
    <button class="center" mat-button [matMenuTriggerFor]="userMenu">
      <img
        class="profile-image"
        width="30"
        height="30"
        [src]="user.photoURL ?? 'assets/placeHolder.webp'"
        alt=""
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #logInButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon> Login
    </button>
  </ng-template>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button class="flex" routerLink="/profile" mat-menu-item>
    <img
      class="profile-image"
      width="30"
      height="30"
      [src]="
        (user.currentUserProfile$ | async)?.photoURL ??
        'assets/placeHolder.webp'
      "
      alt=""
    />
    Edit profile
  </button>
  <button (click)="signOut()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    logout
  </button>
</mat-menu>
