mat-toolbar {
    justify-content: space-between;
}

.profile-image {
    margin-right: 0.4rem !important;
    border-radius: 100%;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.flex {
    display: flex;
    align-items: center;
}